In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [4]:
movie=pd.read_csv(r'C:/Users/oshav/DAFT_NOV_21_01/module_2/Lab_5_ Pivot_Tables_and_Crosstab/movie_metadata.csv')

In [59]:
movie.head(10)

,index,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actor_likes
0,0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46000.0
2,2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,73000.0
4,4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,143.0
5,5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,...,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000,1802.0
6,6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,...,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0,39000.0
7,7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,...,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000,1636.0
8,8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,...,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000,66000.0
9,9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,...,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000,46000.0

In [58]:
movie["actor_likes"]=movie[['actor_2_facebook_likes','actor_1_facebook_likes','actor_3_facebook_likes']].sum(axis=1)

In [26]:
movie.dtypes

index                          int64
color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

### 2. Use crosstabs to show the number of moovies per country

In [7]:
movie.reset_index(inplace=True)

In [38]:
pd.crosstab(movie.country,movie.color,values=movie.index, aggfunc='count',margins=True,margins_name="Total")

color                  Black and White   Color  Total
country
Afghanistan                        NaN     1.0      1
Argentina                          NaN     4.0      4
Aruba                              NaN     1.0      1
Australia                          1.0    54.0     55
Bahamas                            NaN     1.0      1
...                                ...     ...    ...
UK                                20.0   427.0    447
USA                              149.0  3644.0   3793
United Arab Emirates               NaN     1.0      1
West Germany                       NaN     3.0      3
Total                            209.0  4812.0   5021

[66 rows x 3 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [46]:
pd.crosstab([movie.director_name,movie.genres,],movie.country,rownames=['Genres','Director'],
            colnames=["Country"],
            dropna=True,margins=True)

,Country,Afghanistan,Argentina,Aruba,Australia,Bahamas,Belgium,Brazil,Bulgaria,Cambodia,Cameroon,...,Sweden,Switzerland,Taiwan,Thailand,Turkey,UK,USA,United Arab Emirates,West Germany,All
Genres,Director,,,,,,,,,,,,,,,,,,,,,
A. Raven Cruz,Action|Adventure|Comedy|Fantasy|Sci-Fi,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Hann,Drama|Horror|Mystery|Sci-Fi|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Schneider,Drama|Mystery,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Aaron Seltzer,Comedy|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
Abel Ferrara,Crime|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Álex de la Iglesia,Crime|Mystery|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Émile Gaudreault,Comedy|Drama,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Éric Tessier,Action|Drama|Horror|Thriller,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
Étienne Faure,Drama|Musical|Romance,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
All,,1,4,1,53,1,4,8,1,1,1,...,6,3,2,5,1,434,3733,1,3,4936

### 4. Average duration of filmes grouped by color

In [53]:
pd.crosstab(movie.genres,movie.color,values=movie.duration, aggfunc='mean',margins=True,margins_name="Total",dropna=True)

color,Black and White,Color,Total
genres,,,
Action,111.000000,107.444444,107.800000
Action|Adventure,NaN,112.636364,112.636364
Action|Adventure|Animation|Comedy|Crime|Family|Fantasy,NaN,95.000000,95.000000
Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi,NaN,96.000000,96.000000
Action|Adventure|Animation|Comedy|Family,NaN,91.500000,91.500000
...,...,...,...
Thriller,NaN,103.350000,103.350000
Thriller|War,133.000000,NaN,133.000000
Thriller|Western,85.000000,NaN,85.000000
Western,NaN,106.000000,106.000000
Total,112.253589,107.042908,107.260279

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [60]:
pd.crosstab(movie.director_name,movie.color,values=movie.actor_likes, aggfunc='mean',margins=True,margins_name="Total",dropna=True)

color                Black and White         Color         Total
director_name
A. Raven Cruz                    NaN   1094.000000   1094.000000
Aaron Hann                       NaN    406.000000    406.000000
Aaron Schneider                  NaN  16970.000000  16970.000000
Aaron Seltzer                    NaN   4598.000000   4598.000000
Abel Ferrara                     NaN   2198.000000   2198.000000
...                              ...           ...           ...
Álex de la Iglesia               NaN    702.000000    702.000000
Émile Gaudreault                 NaN    917.000000    917.000000
Éric Tessier                     NaN     72.000000     72.000000
Étienne Faure                    NaN     19.000000     19.000000
Total                    5383.208738   9104.848813   8949.087363

[2388 rows x 3 columns]